@charset 'utf-8';
/* 去除默认 */
body, p, ul, input, h3, h4, h5, dl, dt, dd { margin: 0; padding: 0; }
a { text-decoration: none; color: #999; }
ul { list-style: none; }
em, i { font-style: normal; }

/* 后期媒体查询自适应 目前最小宽度确定 */
body { font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif; color: #999; background: rgb(221, 153, 153); min-width: 1200px; }

/* 常用样式集成 */
.d-block { display: block; }
.d-inlineblock { display: inline-block; }
.fr { float: right; }
.fl { float: left; }
.p-relative { position: relative; z-index: 1; }
.pr5 {padding-right: 5px; }
.ml10 { margin-left: 10px; }
.mr10 { margin-right: 10px; }
.mrf2 { margin-right: -2px; }
.hidden { display: none; }
.clearfix:after { content: ''; display: block; clear: both; }
.border-r { border-right: 1px solid #e6e6e6; }
.border-b { border-bottom: 1px solid #e6e6e6; }
.btn { display: block; text-align: center; line-height: 25px; cursor: pointer; color: #fff; font-weight: 400; margin-top: 4px; }
.purple { background: #dd00a7; }
/* 偷个懒 把水平的列表共用 */
.list-li-horizontal li { float: left; }

/* 共用容器：规定长度 */
.container { width: 1200px; margin: 0 auto; }

/* 共用头部列表-水平导航栏 */
.con-link { color: #5e5e5e; line-height: 30px; }
.con-link:hover,
.club:hover { color: #f5004b; }

/* 共用头部列表子列平均布局 自定义百分比宽 适合小布局 只有一个子类链接的排版  */
.top-list-layout { font-size: 0; }
.top-list-layout a { display: inline-block; font-size: 12px; margin-bottom: 10px; overflow: hidden; white-space:nowrap; }

/*  共用选中下拉菜单 父级top-menu 显示子级con-link + icon-icon-arrow-down 隐藏子级top-menu-box
    给予其父级一个高度，父级浮动所以不会在文档流中，这样就不会影响到父级同下级的布局同时改变子级高度时不会撑开
*/
.top-menu { position: relative; z-index: 1; height: 30px; }
.top-menu .con-link { position: relative; border: 1px solid #fff; border-bottom: none; line-height: 29px; z-index: 2; background: #f8f8f8; }
/* 改变高度为了与绝对定位盒子重合 */
.top-menu:hover .con-link { color: #f5004b; border-color: rgb(219, 216, 216); height: 30px; }
.top-menu:hover .icon-icon-arrow-down:before { display: inline-block; transform: rotate(180deg); vertical-align: 3px; }
.top-menu-box { display: none; position: absolute; border: 1px solid rgb(219, 216, 216); margin-top: -1px; width: 200px; height: 200px; background: #fff; }
.top-menu:hover .top-menu-box { display: block; }
 
/* 共用国美小图标们 */
.gift-icon::after,
.service-icon::before { content: ''; display: inline-block; vertical-align: -1px; margin: 0 0 0 3px; width: 12px; height: 13px; background: url('../images/ui.png') no-repeat -145px -1496px; }
.service-icon::before { margin: 0 3px 0 0; background-position: 0 -513px; width: 20px; height: 20px; transform:scale(.7,.7); vertical-align: -5px; }
.tel-icon::before { background-position: 0 -513px; width: 20px; }
.lion { display: inline-block; background: url('../images/ui.png') no-repeat 0 -337px; width: 55px; height: 55px; vertical-align: middle; margin-right: 15px; }
.little-lion { display: inline-block; background: url('../images/ui.png') no-repeat 0 -397px; width: 50px; height: 50px; }
/* 取消 */
.cancel-link { position: absolute; top: 5px; right: 5px; padding: 5px; width: 12px; height: 12px; }
.cancel-link:hover { background-color: rgba(101, 104, 105, 0.384);  }
.cancel { display: block; background: url('../images/ui.png') no-repeat -60px -466px; width: 12px; height: 12px; }
.cancel-link:hover .cancel { background-position: -72px -466px; }
/* 滑块 */
.slider-link { position: absolute; bottom: 40px; width: 16px; height: 30px; font-size: 0; background: url('../images/ui.png') no-repeat -60px -358px; z-index: 2; }
.slider-left { left: 0; margin-left: 18px; }
.slider-right { right: 0; margin-right: 18px; background-position: -76px -358px; }
