@charset 'utf-8';

/* ------------0 广告 ----------- */
.gome-ad { height: 80px; background: rgb(127, 243, 240); }

/* ------------1 头部 ----------- */
/* ==========================1.1 顶部导航.top-nav========================== */
.top-nav { background: #f8f8f8; }
/* 注意：使用原始的行高哦 */
.top-nav .icon-icon-arrow-down { vertical-align: -1px; color: #999; font-size: 12px; padding-left: 3px; line-height: normal; }
.top-nav .icon-shouji { color: #dd00a7; }
.login-link { padding: 0 10px; }
.shop-link { display: block; padding: 0 10px; }
.top-nav .register-login { color: #f5004b; }
/* 下拉菜单组件-会员 */
.vip-menu { padding: 15px; z-index: 1; width: 290px; height: 185px; background: #fff; }
.vip-menu .login,
.my-menu .login { color: #069; }
.vip-title { margin-top: 20px; border-top: 1px solid #ddd; line-height: 42px; }
.vip-title .club { float: right; }
/* 下拉的会员滑块相关信息 */
.vip-slider { width: 190px; margin: 0 auto; overflow: hidden; }
.vip-slider-show { width: 1000px; }
.vip-slider-item { text-align: center; margin: 0 16px 0 0; }
.vip-slider-item i { font-size: 40px; line-height: 45px; margin-bottom: 5px; }
/* 下拉菜单组件-我的国美 */
.my-menu { width: 240px; height: 280px; background: rgb(248, 248, 248); }
.my-partOne { padding: 10px; background: #fff; }
.my-title { font-weight: bolder; margin-bottom: 5px; }
.my-function a { width: 50%; }
.my-bond { font-size: 0; padding-top: 10px; border-top: 1px solid #ddd; }
.my-bond-item { display: inline-block; width: 25%; font-size: 12px; text-align: center; }
.my-bond-title { margin-bottom: 5px; }
.my-partTwo .little-lion { margin-left: 8px; }
.my-history { margin: 0 0 10px 10px; font-weight: bolder; }
/* 下拉菜单组件-服务 */
.service-menu { padding: 10px; width: 220px; }
.top-menu-title { font-size: 12px; font-weight: bolder; margin-bottom: 10px; }
.service-summary a {width: 33.3%; }
.service-menu .icon-kefu { vertical-align: -2px; margin-right: 5px; }
/* 下拉菜单组件-网站导航 */
.web-menu { right: -103px; height: 270px; width: 1200px; }
.web-summary { float: left; margin: 26px 0 0 36px; border-right: 1px solid #dad7d7; }
.web-summary:first-child { width: 240px; }
.web-summary:nth-child(2) { width: 380px; }
.web-summary:nth-child(3) { width: 140px; }
.web-summary:nth-child(4),
.web-summary:nth-child(5) { width: 127px; }
.web-summary:nth-child(5) { border-right: none;  }
.web-summary .top-menu-title { text-align: left; }
.web-summary a { width: 33.3%; text-align: left; }
.web-summary:nth-child(2) a { width: 25%; }
.web-summary:nth-child(3) a { width: 50%; }
.web-summary:nth-child(4) a,
.web-summary:nth-child(5) a { width: 100%; }
/* 下拉菜单组件-二维码 */
.qrcode-menu { right: 0px; padding: 15px; width: 130px; height: 170px; }
/* ===================================1.2 顶部搜索.top-search======================= */
.search-wrap { background-color: #fff; }
.top-search { padding: 30px 0; }
/* 搜索-左边栏布局 */
.logo-group { font-size: 0;  margin-right: 130px; }
.logo-group a + a { margin-left: 20px; }
/* 搜索-中间布局 */
/* 去掉溢出隐藏 */
/* .search-group { overflow: hidden; } */
.search { text-align: left; font-size: 0; border: 1px solid #dd00a7; margin-bottom: 4px; }
.gome-select { position: relative; font-size: 14px; color: #A5A5A5; line-height: 30px; height: 30px; padding: 0 10px; width: 44px; border-right: 1px solid #dd00a7; vertical-align: top; }
.gome-select:hover .gome-options { display: block; }
.gome-options { position: absolute; display: none; left: -1px; margin-top: -1px; width: 64px; background: #fff; border: 1px solid #dd00a7; }
.gome-options li { height: 25px; line-height: 25px; font-size: 14px; padding-left: 10px; }
.gome-options li:hover { background: rgb(236, 232, 232); cursor: pointer; }
.gome-search-input { line-height: 30px; height: 30px; width: 313px; border: none; vertical-align: top; font-size: 14px; padding: 0 20px 0 10px; outline: none; }
.gome-search-btn::before { content: ''; position: absolute; margin: 5px 0; left: -18px; top: 0; width: 15px; height: 20px; background: url('../images/sound.png') no-repeat center; background-size: 13px 19px; opacity: .55; }
.gome-search-btn { position: relative; font-size: 16px; height: 30px; width: 90px; vertical-align: top; }
.search-recommend { width: 500px; height: 18px; overflow: hidden; }
/* 搜索-右边栏布局 */
.car-link { width: 150px; height: 39px; line-height: 39px;}
.empty-car { margin: 0 15px 0 8px; }
.car-look { display: block; position: relative; padding: 0 10px 0 20px; width: 120px; background-color: #fff; }
.car-look:hover .empty-car { color: #f5004b; text-decoration: underline; }
.fuck-car-nothing { display: none; position: absolute; top: 39px; right: 0; width: 284px; height: 102px; line-height: 102px; text-align: center; background-color: #fff; }
.fuck-car-link { margin: 0 4px; color: #444; text-decoration: underline; }
.car-link:hover .triangle { transform: rotate(180deg); }
.car-link:hover, 
.car-link:hover .fuck-car-nothing { box-shadow: 0 0 18px rgba(0,0,0,.09); }
.car-link:hover .fuck-car-nothing { display: block; }
/* ===========================1.3产品分类.header-classify============================ */
.classify-wrap { height: 40px; line-height: 40px; background-color: #f8f8f8; }
.header-classify { background-color: #f8f8f8; }
.fix-nav { width: 186px; padding-left: 14px; background-color: #f1f1f1; font-size: 15px; font-weight: bolder; color: #666; }
.middle-nav li { padding: 0 13px; font-size: 15px; }
.middle-nav a { color: #444; }
.middle-nav .space { display: inline-block; margin: 13px 0; padding: 0; width: 1px; height: 14px; background: rgb(163, 162, 162); }
.ad-nav-slider { width: 194px; height: 38px; overflow: hidden; }
.ad-slider-item { width: 170px; height: 40px; }

/* ------------ 2 中心展示区 ------------- */
.big-slider-wrap { border-top: 1px solid #dd00a7; width: 100%; overflow: hidden; }
.big-slider::after { content: ''; width: 100%; height: 40px; background: red; }
.big-slider-item { width: 100%; height: 450px; }
.big-slider-item a { width: 750px; height: 450px; }
/* ------------ n 右侧边栏 ------------- */
.fix-right-slider { position: fixed; right: 0; top: 0; z-index: 999; width: 36px; height: 100%; background: #5c5c5c; }